<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>BorderLayout布局</title>
  <script type="text/javascript" src="../../cicylib-all-debug.js"></script>
  <link rel="stylesheet" href="../../default/global.css" type="text/css"/>
  <link rel="stylesheet" href="../../default/ru_share.css" type="text/css"/>
  
<style>
	.g-layout-split{background:#CCC;}
</style>
</head>
<body>
</body>
</html>
<script>
		CC.ready(function(){
			var win = new CC.ui.Win({
				layout:'border',
				lyCfg : {
					items : [
					 {ctype:'panel', height:40, lyInf:{split:true, dir:'north', collapsed:true}},
					 {ctype:'panel', height:40, lyInf:{split:true, dir:'south', collapsed:true}},
					 {ctype:'panel', width:125, lyInf:{split:true, dir:'east',collapsed: true}},
					 {ctype:'panel', width:125, lyInf:{split:true, dir:'west',collapsed: true}, maxW:300},
					 {ctype:'panel', 
					 	lyInf:{dir:'center'},
					  layout:'border',
					  lyCfg:{
					  	items : [
					    	 {ctype:'panel', height:25, lyInf:{split:true, dir:'north', collapsed:true}},
								 {ctype:'panel', height:25, lyInf:{split:true, dir:'south', collapsed:true}},
								 {ctype:'panel', width:50, lyInf:{split:true, dir:'east',collapsed: true}},
								 {ctype:'panel', width:50, lyInf:{split:true, dir:'west',collapsed: true}, maxW:300}
					    ]
					  }
					 }
					]
				},
				showTo:document.body,
				destroyOnClose:true
			});
      win.render();
      win.center();
		});
</script>