<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>自定义布局</title>
  <script type="text/javascript" src="../../cicylib-all-debug.js"></script>
  <link rel="stylesheet" href="../../default/global.css" type="text/css"/>
  <link rel="stylesheet" href="../../samples/resources/example.css" type="text/css"/>
<style>
	
	.ct-item {position:absolute;background:red;width:20px;height:20px;}
	.demo-box{text-align:center;overflow:hidden;}
</style>
</head>
<body>
<div id="test" class="demo-box"><h1>滚动鼠标<br>放大缩小</h1></div>
</body>
</html>
<script>
	CC.ready(function(){
		// 下面定义一个布局管理器,它拥有最多五个子项,
		// 依次将子项放在容器的中间和四个角,
		// 顺序为中->左上->右上->右下->左下
		// 它是按绝对定位方式对子项进行布局的
		CC.create('CornerLayout', CC.layout.Layout, {
			//override
			layoutChild : function(item){
				var ct = this.ct,
				    w  = ct.getWidth(true), 
				    h  = ct.getHeight(true),
				    iw = item.getWidth(true), 
				    ih = item.getHeight(true);
				switch(++this.current){
					case 1 : item.setXY(0, 0); break;
					case 2 : item.setXY(w - iw, 0); break;
					case 3 : item.setXY(w - iw, h - ih); break;
					case 4 : item.setXY(0, h - ih); break;
					case 5 : item.setXY(Math.floor((w - iw)/2), Math.floor((h - ih)/2)); break;
				}
			},
			//override
			onLayout : function(){
				this.current = 0;
				CC.layout.Layout.prototype.onLayout.apply(this, arguments);
			}
		});
		
		//注册布局管理器
		CC.layout.def('corner', CornerLayout);
		
		//往容器中加入五个子项
		var panel = new CC.ui.Panel({
			showTo:document.body, 
			unselectable:true, 
			view:'test', 
			layout : 'corner',
			itemCfg:{cs:'ct-item'},
		  lyCfg:{
		  	items:[{},{},{},{},{}]
		  }
		});

		panel.render();
		panel.wheelEvent(function(e){
			var delta = CC.Event.getWheel(e)*10;
			this.$(0).html(delta);
			this.setSize(this.getWidth(true)+delta, this.getHeight(true)+delta);
		});
	});
</script>