/**ÐÞÕý¿Ø¼þDEMOÒ³Ãæ*/
#sforum .sfposttable td.sfpostcontent .g-folderview-ctx dd{
	cursor:pointer;
	float:left;
	height:100px;
	margin:5px 5px 5px 10px;
	width:300px;
}

#sforum .sfposttable td.sfpostcontent  .g-folderview-ctx dd div {
	margin-left:10px;
}

#sforum .sfposttable td.sfpostcontent  .g-folderview-ctx img{
	float:left;
	margin:5px 0 0 5px;
}

#sforum .sfposttable td.sfpostcontent  .g-folderview-ctx dd h4 {
	color:#555555;
	font-weight:bold;
	margin:7px 0;
	font-size:12px;
}
#sforum .sfposttable td.sfpostcontent  .g-folderview-ctx dd p {
	padding:0;
	margin:0 !important;
	font-size:12px;
	color:#777777 !important;
	margin-bottom:8px !important;
	margin-top:8px !important;
}

#sforum .sfposttable td.sfpostcontent  .g-foldable .g-foldablewrap {
	background-color:#F9F9F9;
	border-bottom:1px solid #EFEFEF;
	padding:6px 3px 4px;
}